.customShadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/***user table***/
.userTable {
  @apply bg-white;
}
.userTable th {
  @apply border text-base font-medium;
}

.userTable td {
  @apply border text-base text-center;
}

/**scrollbar hidden****/
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Add this CSS to your stylesheet or global styles */
.Toastify__toast-container {
  width: 90%; /* Default width for mobile */
  max-width: 400px; /* Maximum width for larger screens */
}

@media (min-width: 768px) {
  .Toastify__toast-container {
    width: 50%; /* Adjust width for tablets and larger devices */
  }
}

@media (min-width: 1024px) {
  .Toastify__toast-container {
    width: 30%; /* Adjust width for desktops */
  }
}
